/*about us*/
.about-bg{
    display: flex;
    width: 100%;
    background: url("../images/img1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-bg h2{
    margin: auto;
    font-family: inherit;
    font-size: 70px;
    line-height: 200px;
    color: bisque;
}
.about{
    display: flex;
}
.ABOUT{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.about-us h2{
    font-family: Nunito;
    font-size: 50px;
    border-bottom: 3px solid #00c851;
}
.about-us p{
    font-family: cursive;
    font-size: 19px;
    color: grey;
}
.different h2{
     font-family: Nunito;
    font-size: 50px;
    border-bottom: 3px solid #00c851;
}
.different p{
    font-family: cursive;
    font-size: 19px;
    color: grey;
}
.boxreadmore {
    font-family: cursive;
    font-size: 19px;
    color: grey;
    display: none;
}
.about-img img{
    width: 613px;
}
.information{
    padding: 100px;  
}
.information i{
    color: #00c851;
    font-size: 20px;
    margin: 5px;
}
.information p{
    font-family: Nunito;
    font-size: 17px;
}
.btnmap .btn-info {
    color: #fff;
    background-color: #00c851 !important;
}
.map-container-9 {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-9 iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*about us end*/
@media(max-width: 992px){
        .about-img img{
        width: 500px;
        height: 320px;
    }
    .about{
        flex-direction: column;
    }
    .ABOUT{
        width: 100%;
    }
    .ABOUT h2{
        font-size: 30px;
    }
    .information{
        padding: 0;
        width: 100%;
    }
    .about-bg{
        width: 100%;
    }
   header{
        width: 100%;
    
    }
}
@media(max-width: 768px){
    .about-img img{
        width: 100%;
        height: 320px;
    }
    .about-bg{
        width: 100%;
    }
   

}