/*contact us html*/
.contact{
    background: url("../images/img1.jpg");
    background-attachment:fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
}
.contact h2{
    color: #00c851;
    font-size: 55px;
    font-family: Nunito;
}
.homepage {
    text-align: center;
}
.homeiconcontact {
    color: #424242;
}
.homeiconcontact:hover{
    color: #00c851;
    cursor: pointer;
    font-size: 18px;
}
.Touch{
    width: 300px;
    height: 50px;
    border-bottom: 3px solid #00c851;
    display: flex;
}
.get{
    font-size: 33px;
    font-family: Nunito;
}
.form{
    display: flex;
    justify-content: space-between;

}
.follow{
    width: 492px;
}
.us{
    font-size: 33px;
    font-family: Nunito;
    width: 270px;
    border-bottom: 3px solid #00c851;
}
.icons{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    line-height: 58px;
    color: #3d3d29;
}
.icons:hover{  
    background: #00c851;
    cursor: pointer;
    transition: 0.5s;
}

.support{
    height: 55px;
    border-bottom: 3px solid #00c851;
    font-size: 40px;
    font-family: Nunito;
}
.follow h5{
    font-family: monospace;
    font-size: 22px;
}
.addres{
    color: grey;
    font-family: cursive;
}
.sale{
    height: 200px;
    text-align: center;
    background: #00c851;
    color: white;

}
.sale h2{
    font-family: Nunito;
    font-size: 50px;
    line-height: 129px;
}
.sendmailcontactbtn {
    outline: 0 !important;
}
.fa-user, .fa-at, .fa-phone, .fa-envelope{
    color:#00c851;
}
.fa-paper-plane{
    width: 55px;
    height: 55px;
    background: #00c851;
    text-align: center;
    line-height: 55px !important;
    font-size: 30px;
    border-radius: 25px;
    float: right;
    color: #fff;
    outline: none !important;
}
.fa-paper-plane:hover{
    color: white;
    font-size: 35px;
    cursor: pointer;
    outline: none !important;
}

.send-mail {
    float: right;
    background: none;
    outline: none;
    border: none;
}



@media(max-width: 992px){
    .form{
       flex-direction: column; 
    }
    .follow{
        margin: auto;
    }


}
@media (min-width: 768px) and (max-width: 992px) {
    .contact{
        width: 100% !important;
        background-size: cover !important;
    }
}
@media (min-width: 320px) and (max-width: 500px) {
    .contact{
        width: 531px !important;
        background-size: cover !important;
    }
}