.forsalebladeimg {
	background: url(../images/forsalebladeimg.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.forsalenavbar a {
	color: grey;
}
.forsalenavbar a:hover {
	color: #00c851;
}
.forsalenavbar a:active {
	background: linear-gradient(45deg, #00c851b0, #2196f300);
}

.cardtextforsale {
  font-family: Nunito;
  text-align: start;
}
.cardtextforsale p {
  font-size: 17px;
}
.cardtextforsale i {
  color: green;
}

.cardtextforsale p:hover {
  margin-left: 2px;
  color: #4CC660;
}
.cardtextforsale h3:hover {
  margin-left: 2px;
  color: #4CC660;
}