.fullimages{
    width: 100%;
    height: 90px;
    background: linear-gradient(45deg, #0d1432, #3a405a);
    border-radius: 2px 2px 83px 85px;
}
.fullimage .carousel {
  position: relative;
}
.fullimage{
  margin-top: 50px;
}
.fullimage .carousel-item img {
  object-fit: cover;
}
.fullimage #carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
 .fullimage #carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
.fullimage #carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
.fullimage #carousel-thumbs .selected img {
  border-color: #fff;
}
.fullimage .carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
.inpormation .fa-igloo{
    color: green;
    font-size: 25px;
}
.inpormation .roomsicon{
    color: orange;
    font-size: 25px;
}
.inpormation .fa-building{
    color: yellowgreen;
    font-size: 25px;
}
.inpormation .fa-info-circle{
    font-size: 40px;
    color: #035f03;
}
.fa-tag {
  color: #00c851;
}
.sendbutton{
    width: 150px;
    height: 40px;
    background: linear-gradient(45deg, #00c851, #08ef3d);
    color: white;
    border: 0;
    border-radius: 10px;
}
.ad-reference{
  margin-left: 364px;
}
@media all and (max-width: 767px) {
  .fullimage .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .fullimage .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .fullimage .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}