.carouselbox{
	margin: 0;
}
.carouselbox .carousel-caption {
    position: absolute;
    right: 52%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 31%;
    font-size: 41px;
}
.carouselbox .carousel-caption h3 {
    text-align: left;
    font-family: sans-serif;
}
.carouselbox .carousel-caption p {
    font-family: Nunito;
    text-align: left;
    font-size: 25px;

}
.carouselcontroliconwidth{
    width: 10% !important;
}
.carousel-indicators li{
	width: 21px !important;
    height: 24px !important;
    border-radius: 45% !important;
}
.carousel-indicators .active {
    background-color: #44C662;
}
.topnews{
	margin: auto;
    text-align: center;
    font-family: Nunito;
}
.topnewsh2 {
	color: #111;
	font-family: Nunito;
	font-size: 35px;
}
.h2span {
	font-weight: bold;
	font-size: 36px;
}
.topnewsp {
	color: #777;
	font-size: 16px;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
.sectagency{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}
/*card content*/
.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
    transition: transform .6s; /* Animation */
}

.card-img img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #44C662;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
    font-size: 12px;
    margin:0;
    padding:10px 5px;
    line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    font-family: Nunito;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.50rem 1.14rem;
    font-size: 17px;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    border: 1px solid #44C662;
    font-family: Nunito;
}
.card-desc a {
    color: #44C662;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - -95px) !important;
}
.btn-card:hover {
    background: #44C662;
}
.btn-card {
    text-decoration: none;
    color: #207133;
}
.btn-card:hover {
    color: #fff;
}
.img-price {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
    background: rgba(5, 41, 19, 0.55) none repeat scroll 0 0;
}
.img-price h5 {
    font-family: Nunito;
    color: #fff !important;
    display: contents;
}
.img-price i{
    font-size: 25px;
    color: #44C662;
    transition: 0.9s;
}
.img-price i:hover{
    color: #23ff52;
}

/* End card section */
/* Learn mor top news */
.learntopnewsbutt {
    display: inline-block;
    position: relative;
    border: 2px solid #44C662;
    padding: 0px 22px 0px 22px;
    border-radius: 50px;
    background: transparent;
    font-size: 22px;
    color: #44C662;
    text-transform: capitalize;
    height: 42px;
    z-index: 0;
    word-spacing: 2px;
    outline: 0 !important;
    font-family: Nunito;
}
.learntopnewsbutt:hover {
    background: transparent;
    color: #ffffff;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.learntopnewsbutt:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 37px;
    height: 38px;
    background: #44C662;
    border-radius: 50px;
    opacity: 0.5;
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
.learntopnewsbutt:hover:before {
    width: 102%;
    opacity: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

/* End Learn more top news */
/* End card section */
/* Learn mor top news */
.learntopnewsbutt {
    display: inline-block;
    position: relative;
    border: 2px solid #44C662;
    padding: 0px 22px 0px 22px;
    border-radius: 50px;
    background: transparent;
    font-size: 22px;
    color: #44C662;
    text-transform: capitalize;
    height: 42px;
    z-index: 0;
    word-spacing: 2px;
    outline: 0 !important;
    font-family: Nunito;
}
.learntopnewsbutt:hover {
    background: transparent;
    color: #ffffff;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.learntopnewsbutt:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 37px;
    height: 38px;
    background: #44C662;
    border-radius: 50px;
    opacity: 0.5;
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
.learntopnewsbutt:hover:before {
    width: 102%;
    opacity: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

/* End Learn more top news */

/* End card section */


/*Services info home start*/
.serviceboxhome {
    background: url("../images/servicebackphoto.jpg") no-repeat fixed 0 0/cover;
}
.serviceboxsection {
    background: rgba(5, 41, 19, 0.89);
}
.serviceshomeh2 {
    font-family: monospace;
    font-size: 37px;
}
.houseiconservice{
    width: 105px;
    height: 105px;
    line-height: 97px;
    margin: 0 auto 20px;
    background: #20a730;
    border-radius: 50%;
}
.serviceshome h5{
    font-family: Nunito;
}

/*Services info home end*/


/*Last news Cards*/
.col-md-4 {
    float: left;
}
.lastnewsh3 {
    color: #111 !important;
    font-family: Nunito;
    font-size: 35px;
}
.h3span {
    font-weight: bold;
    font-size: 36px;
}
.lastnewspan {
    color: #777;
    font-size: 16px;
    font-family: Nunito;
}
.btn-floating i{
    font-size: 35px;
}
.btn-floating{
    background: #ffffff;
    color: #44C662;
    width: 37px;
    border-radius: 50%;
    text-align: center;
    margin: 0px 4px;
    transition: 1s;
}
.btn-floating:hover{
    background: #17c851;
    color: white;
    width: 37px;
    transition: 1s;
}
.card-body-cascade h4{
    font-family: Nunito;
}


/*Why Choose Us*/


.whychooseush2{
    font-family: Nunito;
    font-size: -webkit-xxx-large;
}
.whychooseusp{
    font-family: Nunito;
}


/*Why Choose Us end*/

/*Carousel client say */
.clientsaybox h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    position: relative;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    display: inline-block;
}
.clientsaybox h2::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 4px;
    border-radius: 1px;
    background: #20a730;
    left: 0;
    bottom: -20px;
}
.clientsaybox .carousel {
    margin: 50px auto;
}
.clientsaybox .carousel .item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}
.clientsaybox .carousel .media {
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
}
.clientsaybox .carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.clientsaybox .carousel .testimonial {
    color: #fff;
    position: relative;    
    background: rgba(25, 160, 0, 0.7);
    padding: 15px;
    margin: 0 0 20px 20px;
}
.clientsaybox .carousel .testimonial::before, .clientsaybox .carousel .testimonial::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.clientsaybox .carousel .testimonial::before {
    width: 20px;
    height: 20px;
    background: #9b9b9b;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.clientsaybox .carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.clientsaybox .carousel .item .row > div:first-child .testimonial {
    margin: 0 20px 20px 0;
}
.clientsaybox .carousel .item .row > div:first-child .media {
    margin-left: 0;
}
.clientsaybox .carousel .testimonial p {
    text-indent: 40px;
    line-height: 21px;
    margin: 0;
}
.clientsaybox .carousel .testimonial p::before {
    content: url('../images/quoteclients.png');
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 18px;
    position: absolute;
    left: -35px;
    top: 0px;
}
.clientsaybox .carousel .overview {
    padding: 3px 0 0 15px;
}
.clientsaybox .carousel .overview .details {
    padding: 5px 0 8px;
}
.clientsaybox .carousel .overview b {
    text-transform: uppercase;
    color: #20a730;
}
.clientsaybox .carousel .carousel-control {
    width: 30px;
    height: 30px;
    background: #1acd62;
    text-shadow: none;
    top: 4px;
}
.clientsaybox .carousel-control i {
    font-size: 16px;
}
.clientsaybox .carousel-control.left {
    left: auto;
    right: 40px;
}
.clientsaybox .carousel-control.right {
    left: auto;
}
.clientsaybox .carousel-indicators {
    bottom: -80px;
}
.clientsaybox .carousel-indicators li,.clientsaybox .carousel-indicators li.active {
    width: 18px !important;
    height: 18px !important;
    border-radius: 0 !important;
    margin: 1px 4px;
}
.clientsaybox .carousel-indicators li {   
    background: #4CAF50;
    border: 5px solid #ffffff;
}
.clientsaybox .carousel-indicators li.active {
    color: #fff;
    background: #33cc18;    
    border: 5px double;    
}
.clientsaybox .star-rating li {
    padding: 0 2px;
}
.clientsaybox .star-rating i {
    font-size: 14px;
    color: #ffdc12;
}

/*Carousel client say end */

/*Last news Cards end*/
@media(max-width: 992px){
    .cardresponse{
       width: 100%;
    }
}