@font-face {
  font-family: Nunito;
  src: url(public/font/NunitoSans-SemiBold.ttf);
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	list-style-type: none;
	box-sizing: border-box !important;
}
html {
  scroll-behavior: smooth;
}
.continfobox img{
	width: 20px;
}
.continfobox p{
	font-family: Nunito ;
	letter-spacing: 1px;
}
header .navbar {
  box-shadow: none !important;
}
header .navbar-brand {
  padding: 0px 8px;
  margin-top: -4px;
  background-color: white;
  box-shadow: 0px 1px 2px 4px #ffffff
}
.good-realtylogo{
  width: 150px;
  height: 60px;
}
header .navbar-brandbef.scrollicon {
  display: none !important;
}

header .navbar-brandbef {
    position: absolute;
    content: "";
    top: 71px;
    left: 12px;
    width: 0;
    height: 0;
    border-left: 85px solid transparent;
    border-right: 89px solid transparent;
    border-top: 40px solid;
    z-index: 99;
    color: white;
}
header .navbar-fixed-top.scrolled {
  background-color: #0d1432 !important;
  transition: background-color 200ms linear !important;
  margin: 0 !important;
}
header .nav-link {
	font-family: Nunito;
	color: white !important;
}
header .nav-link:hover{
	color: #44C662 !important;
}
header .dropdown-menu {
	display: none;
}
header .dropdown .dropdown-menu .dropdown-item:active {
    background-color: #44C662 !important
    color: white !important;
}
.form-control:focus {
    border-bottom: 1px solid #44C662 !important;
    box-shadow: 0 1px 0 0 #44C662!important;
    transition: 2s;  
}
#myBtn {

    display: none;
    position: fixed;
    bottom: 22px;
    right: 8px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: #000000;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
    transition: 2s;
}

#myBtn:hover {
    background-color: #44C662;
    color: rgba(0,0,0,0);
    border-radius: 159px 159px 160px 29px;
}
.myBtnup {
	position: absolute;
    display: none;
    bottom: 13px;
    right: 13px;
    z-index: 99;
}

/*Header End*/

/*Footer Start*/

.ftco-navbar-light {
  background: transparent !important;
  z-index: 3;
  padding: 0; }
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
    background: #000000 !important;
    position: relative;
    top: 0;
    padding: 10px 15px; } }
  .ftco-navbar-light .navbar-brand {
    color: #000000; }
    .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
    color: #000000; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-bottom: 10px; } }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    opacity: 1 !important; }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
      color: #000000; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .9rem;
        padding-bottom: .9rem;
        color: rgba(255, 255, 255, 0.7); }
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
          color: #fff; } }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
      font-size: 14px; }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
        background: transparent;
        color: #000000; }
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
          display: none; } }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #000000; }
    @media (max-width: 767.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #fff;
        background: #2f89fc; } }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #2f89fc; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: #fff; } }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
    .ftco-navbar-light .navbar-toggler:focus {
      outline: none !important; }
  .ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
    .ftco-navbar-light.scrolled .nav-item.active > a {
      color: #2f89fc !important; }
    .ftco-navbar-light.scrolled .nav-item.cta > a {
      color: #fff !important;
      background: #2f89fc;
      border: none !important; }
      .ftco-navbar-light.scrolled .nav-item.cta > a span {
        display: inline-block;
        color: #fff !important; }
    .ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
      border-color: #2f89fc; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767.98px) {
      .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
    .ftco-navbar-light.scrolled .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5) !important;
      border-color: rgba(0, 0, 0, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
    .ftco-navbar-light.scrolled .nav-link {
      padding-top: 0.9rem !important;
      padding-bottom: 0.9rem !important;
      color: #000000 !important; }
      .ftco-navbar-light.scrolled .nav-link.active {
        color: #2f89fc !important; }
    .ftco-navbar-light.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled .navbar-brand {
      color: #000000; }
.ftco-counter {
  overflow-x: hidden;
  position: relative; }
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: center center !important; } }
  .ftco-counter .bg-counter {
    position: relative;
    background: #fff; }
    .ftco-counter .bg-counter h3.vr {
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      text-orientation: sideways;
      text-align: center;
      text-orientation: sideways;
      margin: 0rem;
      position: absolute;
      top: 0;
      right: -20px;
      height: 100%;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 4px;
      font-size: 16px;
      z-index: 1; }
      @media (max-width: 1199.98px) {
        .ftco-counter .bg-counter h3.vr {
          opacity: 0; } }
  .ftco-counter .block-18 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  .ftco-counter .text strong.number {
    font-weight: 800;
    font-size: 44px;
    color: #2f89fc;
    display: block; }
  .ftco-counter .text span {
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8); }
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 20px; } }
  .ftco-counter .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #2f89fc; }
  .ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }
    .ftco-section {
  padding: 7em 0;
  position: relative; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-footer {
  font-size: 14px;
  background: #141313;
  padding: 6em 0; }
  .ftco-footer .ftco-footer-widget {
    width: 100%;
    display: block; }
    .ftco-footer .ftco-footer-widget h2 {
      font-weight: normal;
      color: #fff;
      margin-bottom: 40px;
      font-size: 22px;
      font-weight: 700; }
    .ftco-footer .ftco-footer-widget .logo {
      color: #0ee477; }
      .ftco-footer .ftco-footer-widget .logo span {
        color: #ff8000; }
    .ftco-footer .ftco-footer-widget ul li a span {
      color: #fff; }
    .ftco-footer .ftco-footer-widget .btn-primary {
      background: #fff !important;
      border: 2px solid #fff !important; }
      .ftco-footer .ftco-footer-widget .btn-primary:hover {
        background: #fff;
        border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }
  .ftco-footer .categories li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .ftco-footer .categories li a span {
      color: rgba(255, 255, 255, 0.5) !important; }
  .ftco-footer .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .ftco-footer .subscribe-form .form-group input {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      width: 100%;
      background: rgba(255, 255, 255, 0.1) !important;
      border: none;
      color: rgba(255, 255, 255, 0.7) !important;
      font-size: 16px; }
      .ftco-footer .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 0+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.7) !important; }
    .ftco-footer .subscribe-form .form-group .submit {
      color: #fff !important;
      font-size: 16px;
      background: #2f89fc !important;
      border: none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .ftco-footer .subscribe-form .form-group .submit:hover {
        cursor: pointer;
        background: #ff8000 !important; }
  .ftco-footer .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8); }
  .ftco-footer .block-21 .text .heading {
    font-weight: 400;
    font-size: 16px; }
    .ftco-footer .block-21 .text .heading a {
      color: rgba(255, 255, 255, 0.9); }
      .ftco-footer .block-21 .text .heading a:hover, .ftco-footer .block-21 .text .heading a:active, .ftco-footer .block-21 .text .heading a:focus {
        color: #2f89fc; }
  .ftco-footer .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .ftco-footer .block-21 .text .meta > div a {
      color: gray; }
  .ftco-footer .open-hours {
    color: #fff;
    font-size: 18px; }
    .ftco-footer .open-hours span {
      color: rgba(255, 255, 255, 0.3); }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }
.ftco-animate {
  opacity: 0;
  visibility: hidden; }
.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #2f89fc; }

.media .ftco-icon {
  width: 100px; }
  .media .ftco-icon span {
    color: #2f89fc; }
#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }



/*Footer End*/
.myBtncontrol #myBtn:hover > .myBtnup {
    display: block;
}

@media (min-width: 320px) and (max-width: 578px) {
    .continfobox{
        color: red;
    }
}

.mt-100 {
  margin-top: 100px; 
}

.md-outline.select-wrapper+label {
  top: .5em !important;
  z-index: 2 !important;
}

.delete-img {
  position: absolute;
  right: 20px;
  color: red;
  background: no-repeat;
  outline: none;
  border: none;
  font-size: 25px;
}

.statement-img {
  height: 240px !important;
  width: 100%;
}

.statement-part {
  border-radius: 10px;
}

.imgzoom {
  width: 350px !important;
  height: 211px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-inputs {
  font-size: 14px;
  box-sizing: border-box;
  width: 100px;
  padding: 5px 20px 5px 2px;
  text-align: right;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  outline: none;
}

/*Footer Start*/
footer{
  background: url(../images/bgimgfoot.jpg);
  background-position: center;
  background-attachment: fixed;
}
.nb-footer{
  margin-top: 60px;
  padding-bottom: 30px;
}
.nb-footer .footer-single{
  margin-top: 30px;
}
.nb-footer .footer-singlelogo {
  margin-top: 13px;
}
.nb-footer .footer-singlelogo p {
  color: #ffffff9e;
}
.nb-footer .footer-title{
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .footer-single a{
  text-decoration: none;
}
.nb-footer .footer-single h2{
  color: #eee;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 2px solid #36da07;
  margin-bottom: -2px;
}
.ophours i {
  color: #00c851;
}
.agencylocat {
  color: grey !important;
}
.ophours p {
  margin: 0;
}

.footer-conticons i {
  color: #00c851;
}
.nb-footer .footer-single li{
  border-top: solid 1px #808080;
}
.nb-footer .footer-single li:first-child{
  border-top: none;
}
.nb-footer .footer-single li a{
  color: #979797;
  font-size: 13px;
  padding: 11px 0px;
  display: block;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover{
  color: #00c851;
}
.nb-footer .footer-single li a:hover i{
  color: #00c851;
}
.nb-footer .brand {
  background: #7BFF00;
}
.nb-footer .dummy-logo p {
  color: #999;
  font-size: 12px;
}
.nb-footer .dummy-logo h2 {
  font-size: 24px !important;
  border-bottom: none;
  color: #696969;
}
.footer-singlelogo > .btn{
  padding: 9px;
  margin: 0;
}
.nb-footer .btn-footer{
  border: 1px solid #00c84b;
  color: #999;
}
.nb-footer .btn-footer:hover{
  background: #00c84b;
  color: #fff;
  transition:all 0.4s ease-in-out;

}
.listfootul i {
  float: right;
}
.nb-footer .useful-links li a{
  text-transform: uppercase;
}
.nb-footer .footer-project .footer-title{
  margin-top: 0;
}
.nb-footer .footer-single p, .footer-single address{
  color: #b9b9b9;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
  letter-spacing: 1px;
}
.footer-single address p {
  margin: 0 !important;
}

.footer-single address a {
  color: #b9b9b9;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
  letter-spacing: 1px;
}
.footer-single address a:hover {
  color: #00c851;
}
.nb-copyright{
  background: rgba(17, 17, 17, .5);
  padding-bottom: 10px;
}
 .nb-copyright .copyrt{
  margin-top: 22px;
  font-size: 14px;
  color: #696969;
}
.nb-copyright .copyrt a{
  color: #00c851;
}
.nb-copyright .footer-social i{
  padding: 5px 10px;
  color: #999;
  margin: 0px 2px;
  border: 1px solid #333;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
  background: #00c851;
  color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
  padding: 5px 14px;
}
/*Footer End*/

/* Start Media Footer */
@media(max-width: 767px){
   .xs-center{
  text-align: center;
}
 .left-clear{
  padding-left: 0;
}
 .right-clear{
  padding-right: 0;
}
}
@media (min-width: 768px) and (max-width: 992px) {
    footer .col-md-3{ 
      max-width: 50%;
      flex: 0 0 50%;
  }   
    .footer-conticons{
      color: red;
  }
    .footer-singlelogo {
      color: red;
  }
  .nb-footer {
    color: red;
  }
}

/* End Media Footer */


.carouselbox .carousel-caption h3 {
    text-align: left;
    font-family: sans-serif;
    font-size: 46px;
}
.carouselbox .carousel-caption p {
    font-family: Nunito;
    text-align: left;
    font-size: 19px;

}


.search-statement {
  outline: none;
  background: none;
  border: none;
}